<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <form [formGroup]="FormCaracteristica"  *ngIf="!caracteristicaOK" novalidate>
    <ion-list>
      <ion-item>
        <ion-label>Descricao:</ion-label>
        <ion-input type="text" formControlName="descricao" ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button  block [disabled]="FormCaracteristica.invalid" (click)="cadastrarCaracteristica(FormCaracteristica)">Continuar</ion-button>
  </form>

  <form [formGroup]="FormEmpresa" *ngIf='caracteristicaOK' novalidate>
    <ion-list>
      <ion-item>
        <ion-input type="text" formControlName="logo" hidden ></ion-input>
        
        <label for="attach">Logo:</label>
        <!--<ion-input type="file" accept="image/*" formControlName="logo" ></ion-input>-->
        <input style="border-radius: 0px solid white;" type="file" placeholder="Attachment" id='attach' (change)="Image($event)">
      </ion-item>
      <ion-item>
        <ion-label>Descricao:</ion-label>
        <ion-input type="text" formControlName="descricao" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Endereço:</ion-label>
        <ion-input type="text" formControlName="mapa" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>login:</ion-label>
        <ion-input type="text" formControlName="login" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>senha:</ion-label>
        <ion-input type="text" formControlName="senha" ></ion-input>
      </ion-item>
    </ion-list>
  <ion-button  size='large' block [disabled]="FormEmpresa.invalid" (click)="cadastrarEmpresa(FormEmpresa)">Submit</ion-button>
  </form>
</ion-content>