<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="loginForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label>login</ion-label>
        <ion-input type="text" formControlName="login" ></ion-input>
      </ion-item>
      <ion-item class="">
        <ion-label>senha</ion-label>
        <ion-input type="password" formControlName="senha" ></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-button  size='large' block [disabled]="loginForm.invalid" (click)="login(loginForm)">Submit</ion-button>

  
  <ion-list style="text-align:center" *ngIf='exibirDados'>
    <img [src]="empresa.logo" alt='logo'  width="150" height="200">
    <ion-item>
      <ion-label style="text-align:center" >{{empresa.descricao}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="text-align:center">{{empresa.mapa}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="text-align:center">{{empresa.login}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="text-align:center">{{empresa.senha}}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>