<ion-header>

  <ion-navbar>
    <ion-title>Login Empresa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >

  <form [formGroup]="loginForm" novalidate>
    <ion-list>
      <ion-item style="text-align:center">
        <ion-label>Login:</ion-label>
        <ion-input type="text" formControlName="login" placeholder="login"></ion-input>
      </ion-item>
      <ion-item style="text-align:center">
        <ion-label>Senha:</ion-label>
        <ion-input type="password" formControlName="senha" placeholder='senha'></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div style=" margin-left:auto; margin-right:0;">
    <ion-button  block [disabled]="loginForm.invalid" (click)="login(loginForm)">Login</ion-button>
    <ion-button  block [disabled]="loginForm.invalid" color='danger' (click)="cadastro()">cadastrar</ion-button>
    
  </div>
  

  
</ion-content>